:root {
  --tile-base: #DDE392  ;
  --tile-X:#EF3E36;
  --tile-O:#008DD5;
  --tile-hover:#595959;
}

body{
  background-color: white ;
}

.slider{
  display: flex;
  flex-direction: row;
  margin-bottom: 3vmin;
}

.slider-part{
  width: 5vmin;
  height: 5vmin;
  background-color: var(--tile-hover);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s linear;
}

.slider-part.X{
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
}

.slider-part.O{
  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%;
}

.slider-part.X.turn{
  background-color: var(--tile-X);
}

.slider-part.O.turn{
  background-color: var(--tile-O);
}

.turn-icon{
  width:80%;
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
}

.tile{
  background-color: var(--tile-base);
  width: 31%;
  margin: 1%;
  border-radius: 10%;
  transition: background-color 0.1s linear;
  font-size: 15vmin;
  position: relative;
}

.tile::before{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5vmin;
  margin-top: -5vmin;
  width: 10vmin;
  height: 10vmin;
  background-repeat: no-repeat;
  background-size: cover;
}

.tile.x::before{
  content:"";
  background-image: url("X.svg");
}

.tile.o::before{
  content:"";
  background-image: url("O.svg");
}


.tile.empty:hover{
  background-color: var(--tile-hover);
  transition: background-color 0.1s linear;
}

.board-row{
  display: flex;
  width: 45vmin;
  height:15vmin;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.board{
  text-align: center;
}

.bg-icon-O{
  background-image: url("O.svg");
}

.bg-icon-X{
  background-image: url("X.svg");
}

.bg-color-O{
  background-color: var(--tile-O);
}

.bg-color-X{
  background-color: var(--tile-X);
}

h1{
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
}
