:root {
  --tile-base: #DDE392  ;
  --tile-X:#EF3E36;
  --tile-O:#008DD5;
  --tile-hover:#595959;
}

body{
  background-color: white ;
}

.tile{
  background-color: var(--tile-base);
  width: 31%;
  margin: 1%;
  border-radius: 10%;
  transition: background-color 0.1s linear;
}

.tile:hover{
  background-color: var(--tile-hover);
  transition: background-color 0.1s linear;
}

.board-row{
  display: flex;
  width: 45vw;
  height:15vw;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board{
  text-align: center;
}
